.home{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)),*/
    background-image: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)),  url("/bg_img.svg");
    height: 800px;
    color: black;
    text-align: center;
    padding-inline: 80px;

    @media (max-width: 1000px) {
        padding-inline: 40px;
    }

    &>.hero-contacts{
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
    

        &>a{
            
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            color: white;
            transition: transform ease 0.3s;
            border-radius: 4px;
            
            &:hover{
                cursor: pointer;
                transform: translateX(10px);
            }
            
            &>svg{
                width: 20px;
                height: 20px;
            }
        }
        
        @media (max-width: 1000px) {
            display: none;
            pointer-events: none;
        }
    }
    
    &>.hero-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        color: white;
        padding-inline: 48px;

        &>h1{
            font-size: 60px;
            margin-block: 40px;
            font-weight: bold;
        }

        &>p{
            font-size: 22px;
            text-align: center;
            margin-bottom: 50px;
        }

        @media (max-width: 700px) {

            padding-inline: 12px;

            &>h1{
                font-size: 36px;
                margin-block: 24px;
            }

            &>p{
                font-size: 18px;
                margin-bottom: 32px;
            }
        }
    }

    &>.scroll-indicator{
        border: 1px solid white;
        height: 40px;
        width: 25px;
        border-radius: 40px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);

        &>.dot{
            width: 5px;
            height: 5px;
            border-radius:50%;
            background-color: white;
            position: absolute;
            top: 6px;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll 1.5s infinite;
        }
    }

    @media (max-width: 500px) {
        height: auto;
        padding: 60px 20px 100px 20px;
    }
}

@keyframes scroll {
    0%{
        top: 6px;
        opacity: 1;
    }

    100%{
        top: 28px;
        opacity: 0;
    }

}

.main, .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
 
    padding: 120px 48px;
    
    
    &>div:first-of-type{
        

        max-width: 1000px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>h1{
            font-size: 40px;
            color: black;
            font-weight: bold;
            line-height: 60px;
        }

        &>.blue-marker{
            align-self: center;
            width: 20px;
            height: 4px;
            border-radius: 4px;
            background-color: rgb(0, 98, 185);
        }

        &>p{
            font-weight: 500;
            font-size: 20px;
            color: rgb(119,119,119);
        }
    }

    @media (max-width: 800px) {
        padding: 60px 24px;
    }
}

.main-projects{
        display: flex;
        flex-direction: column;
        gap: 90px;

        &>.project-link{
            margin: auto;
            display: flex;
            gap: 48px;

            
            &>picture{
                width: auto;
                padding: 20px;
                background-color: black;
                
                &>img{
                    width: 700px;
                    height: 360px;
                    object-fit: cover;
                }                
            }

            @media (max-width: 700px) {
                &>picture{
                    min-width: 0px;
                    width: auto;
                    padding: 0px;
                    background-color: transparent;
                    height: auto;
                    display: flex;
                    justify-content: center;

                    &>img{
      
                        display: inline;
                        width: 100%;
                        height: auto;
                        border: 8px solid black;
                    }
                }
            }
            
            &>div{
                align-self: center;
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 360px;
                align-items: start;
                
                &>h1{
                    font-size: 28px;
                    font-weight: bold;
                    color: black;
                    line-height: 42px;
                }
                
                &>p{
                    font-size: 18px;
                    line-height: 30px;
                    color: rgb(128,128,128);
                }
            }
            
            @media (max-width: 1200px) {
                flex-direction: column;
                align-items: center;
                gap: 30px;

                &>div{
                    width: auto;
                    text-align: center;
                    align-items: center;
                }
            }

            @media (max-width: 800px) {
                gap: 24px;
            }
        }
}

.main{
    background-color: rgb(255,255,255);
}

.about{
    background-color: rgb(250,250,250);
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;


    &>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        &>div{
            padding: 10px 20px;
            background-color: rgba(153,153,153,0.2);
            color: rgb(119,119,119);
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            border-radius: 5px;

            &:hover{
                cursor: default;
            }
        }
    }
}

.contact{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)),  url("/bg_img.svg");
    padding-block: 160px;
    padding-inline: 16px;
    gap: 20px;
    color: white;
    align-items: center;
    text-align: center;
    

    &>.white-marker{
        align-self: center;
        width: 20px;
        height: 4px;
        border-radius: 4px;
        background-color: white;
    }

    &>h1{
        font-size: 48px;
        font-weight: 700;
    }

    &>p{
        font-size: 20px;
        font-weight: 500;
    }   
}