.footer{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: white;
    background-color: black;
    padding: 80px 64px;

    &>div>h1{
        font-size: 1.5rem;
        font-weight: bold;
    }

    &>.footer-desc{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 640px;
        
        &>p{
            font-size: 15px;
            color: rgb(238,238,238);
            line-height: 20px;
        }
    }

    &>.footer-contacts{
        display: flex;
        flex-direction: column;
        gap: 20px;


        &>div{
            display: flex;
            gap: 16px;
            align-items: center;

            &>a>svg{
                width: 20px;
                height: 20px;
                color: white;
            }

            &>a{
               
                &:hover{
                    cursor: pointer;
                    
                    &>svg{
                        color: orange;
                    
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding: 60px 24px 40px 24px;

        &>.footer-contacts>div{
           flex-direction: column;
        }
    }
}